* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 20px;
}

.calendar-nav {
  width: 100%;
  height: 12rem;
  background-color: #56c967;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.calendar-nav i {
  font-size: 2.5rem;
  cursor: pointer;
}

.calendar-nav h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.calendar-nav p {
  font-size: 1.6rem;
}

.calendar-dates-grid {
  width: 100%;
  height: 3rem;
  padding: 0 0.4rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.calendar-dates-grid div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: grid;
  justify-content: center;
  align-items: center;
  color: gray;
}
.day:nth-child(7n-6):not(.prev-date) {
  color: red;
}

.calendar-days-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.2rem;
}

.calendar-days-grid div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  color: black;
}

.calendar-days-grid div:hover:not(.today) {
  background-color: lightgreen;
  border: 0.2rem solid lightgreen;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.prev-date:hover,
.next-date:hover {
  opacity: 0.5;
}

.today {
  border: 1px solid green;
  border-radius: 50%;
}
